asgiref
contourpy
cycler
django
django-hosts
fonttools
html2docx
kiwisolver
lxml
matplotlib
networkx
numpy
packaging
pillow
pyparsing
python-dateutil
python-docx
six
sqlparse
tinycss2
typing-extensions
webencodings
