{% load static %}

<footer class="scene scene-5">
    <div class="footer-content">
        <nav class="footer-nav">
            <a href="https://mlfieldbook.github.io">About ML(fieldbook)</a>
            <span class="separator">|</span>
            <a href="https://github.com/MLFieldbook/mlfieldbook">Contribute in GitHub</a>
            <span class="separator">|</span>
            <a href="mailto:mgasa.loucat1@gmail.com">Meet the Creator</a>
        </nav>
        <div class="footer-divider"></div>
        <p class="closing-quote">The best logs are lived, not typed.</p>
    </div>
</footer>

<script type="importmap">
    {
        "imports": {
            "animejs": "https://esm.sh/animejs@3.2.1"
        }
    }
    </script>
<script type="module" src="{% static 'home/assets/js/script.js' %}"></script>